:root {
  --app-background-color: #383838;
  --dynamic-title-color: lightgreen;
  --dynamic-text-color: #bfbfb2;
  --dynamic-highlight-color: #eedf90;
  --dynamic-hover-color: rgb(94 94 94);
}

[theme="light"] {
  --app-background-color: #ffffff;
  --dynamic-title-color: #ff1797;
  --dynamic-text-color: rgb(65 63 63);
  --dynamic-highlight-color: #399f00;
  --dynamic-hover-color: rgb(161, 161, 161);
}

[theme="green"] {
  --app-background-color: #1e1e1e;
  --dynamic-title-color: #51ffb0;
  --dynamic-text-color: #42ba59;
  --dynamic-highlight-color: #51ffb0;
  --dynamic-hover-color: rgb(75 75 75);
}

[theme="dark2"] {
  --app-background-color: #1e1e1e;
  --dynamic-title-color: #86dc71;
  --dynamic-text-color: #a6bbbd;
  --dynamic-highlight-color: #c8dc83;
  --dynamic-hover-color: rgb(81 81 81);
}